<html xmlns="http://www.w3.org/1999/xhtml"><head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="Cache-Control" content="no-cache,no-store,max-age=0">
      <meta http-equiv="EXPIRES" content="NOW">
      <meta http-equiv="PRAGMA" content="NO-CACHE">

    <title>SEL - Scotia en Línea</title>
      <link href="/invernet2000/bnsres/res/css/scotiaStyles-min.css" rel="stylesheet" type="text/css"><script language="javascript" type="text/javascript">
    window.history.go(1);
    </script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/res/js/bnsInfo_es.js?version=1757732"></script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/base/resources/jsf-min.js?version=1757732"></script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/base/resources/bnsJSF-min.js?version=1757732"></script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/res/js/scotia-min.js?version=1757732"></script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/res/js/Messages_es.js?version=1757732"></script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/res/js/jquery-1.9.1.min.js?version=1757732"></script>


    <style>@variables { _contextPath: /invernet2000; _contextPathRes: /invernet2000/bnsres; }</style><script language="javascript" type="text/javascript">
_contextPath = '/invernet2000'; _contextPathRes = '/invernet2000/bnsres'; _homeCtx = '/home'; _mainCtx = '/main';</script>
<script language="javascript" type="text/javascript">
_langCode = 'es'; _browser = 'Firefox'; _browserVer = '58.0';</script>
<script language="javascript" type="text/javascript">
_showTimes = false; </script>
<script language="javascript" type="text/javascript">
      _fechaHoyYYYYMMDD = '2018/02/15';
      _fechaHoyDDMMYYYY = '15/02/2018';
      _IdCurrentFlow = '14';

      _lockMenu = true;
    </script>
<script language="javascript" type="text/javascript">
    function _onLoadPage()
    {
      initPage(true, true);
      setLanguage('es');

      document.oncontextmenu = function() { return false; };

      window.history.go(1);


      $RunScotiaTimmer();


      try
      {

      } catch(e) {}
    }
    </script>
<script language="javascript" type="text/javascript">
          $ValidateFrameMain('frmMain');
        </script>
</head><body onload="_onLoadPage();">
  <table style="height:100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
  <td>
<div id="wrapper">
<div id="mainTable">
<div id="pageHeader">
		<div id="header">
			<div class="logo"><img src="/invernet2000/bnsres/res/img/logoScotia.gif" alt="Scotiabank" title="Scotiabank" width="233" height="40">
			</div>
			<div class="name">
				<span>Scotia en Línea</span>
			</div>
			<div class="menuNav" id="opcionesMenuNav">
				<span>
<form id="frmHdr" name="frmHdr" method="post" action="/invernet2000/pages/app/gral/mainMenu.jsf" enctype="application/x-www-form-urlencoded" onsubmit="return validateAll(this)" novalidate="">
<input name="frmHdr" value="frmHdr" type="hidden">
<input id="frmHdr:com.bns.ejsf.nonceTokenID" name="com.bns.ejsf.nonceTokenID" value="Ei_gSo" type="hidden">
						<a href="/invernet2000/pages/app/cons/qryGral.jsf" tabindex="250" onkeydown="$ExecThisOnEnter(event, this);" target="frmBody">Inicio</a>  |
						<a href="#." onclick="$HelpFlow();" title="Ayuda" tabindex="251" onkeydown="$ExecThisOnEnter(event, this);">Ayuda</a> |
						<a href="#." onclick="$Help(999);" title="Contáctanos" tabindex="252" onkeydown="$ExecThisOnEnter(event, this);">Contáctanos</a> |
						<a id="frmHdr:lnkSalir" href="#." onkeydown="$ExecThisOnEnter(event, this);" tabindex="253" title="Salir" onclick="{var p=new Object();p['frmHdr:lnkSalir']='frmHdr:lnkSalir';submitObject(this, undefined, undefined, true, p, null);}">Salir</a>
<input name="javax.faces.ViewState" id="javax.faces.ViewState" value="-8486743346150308900:-683194659107992535" autocomplete="off" type="hidden">
</form>
			  </span>
			</div>
		</div></div><!--pageHeader-->

<div id="pageBody" class="pageBody">
          <font class="liteSpace">&nbsp;</font>
<div id="pageTabs" class="pageTabs">
    <div style="height:45px;"><span id="menu" combo="true"><nobr>
<form id="menu:formMenu" name="menu:formMenu" method="post" action="/invernet2000/pages/app/gral/mainMenu.jsf" enctype="application/x-www-form-urlencoded" onsubmit="return validateAll(this)" target="frmBody" novalidate="">
<input name="menu:formMenu" value="menu:formMenu" type="hidden">
<input id="menu:formMenu:com.bns.ejsf.nonceTokenID" name="com.bns.ejsf.nonceTokenID" value="Ei_gSo" type="hidden">
          <div class="mainMenu">
            <div class="menuBody bordeMenu">
              <ul id="main-menu" class="sm MM" style="z-index:79990;">
                    <li id="li_lstopt1" class="CURRENT">
                      <a href="javascript:void(0);" id="opt1" class="NOLINK has-submenu" onclick="$ShowSuboptions(false, 'lstopt1'); $GoMenuAction(false, 'opt1', '0');" onmouseover="$CancelPreHideSuboptions('lstopt1');" onmouseout="$PreHideSuboptions('lstopt1');">
                          CONSULTAS
                      </a>
                          <ul id="lstopt1" class="sm SU" style="z-index:80000;" onmouseover="$CancelPreHideSuboptions('lstopt1');" onmouseout="$PreHideSuboptions('lstopt1');">
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt1_1" onclick="$HideSuboptions(); if (! $ClickMenuOption('1')) return; $GoMenuAction(true, 'opt1', '1');">
                                    <div style="white-space: nowrap;">  Saldos General</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt1_2" onclick="$HideSuboptions(); if (! $ClickMenuOption('2')) return; $GoMenuAction(true, 'opt1', '2');">
                                    <div style="white-space: nowrap;">  Saldos Por Producto</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt1_3" onclick="$HideSuboptions(); if (! $ClickMenuOption('3')) return; $GoMenuAction(true, 'opt1', '3');">
                                    <div style="white-space: nowrap;">  Saldos Por Grupo</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt1_5" onclick="$HideSuboptions(); if (! $ClickMenuOption('5')) return; $GoMenuAction(true, 'opt1', '5');">
                                    <div style="white-space: nowrap;">  Tasas</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt1_9" onclick="$HideSuboptions(); if (! $ClickMenuOption('9')) return; $GoMenuAction(true, 'opt1', '9');">
                                    <div style="white-space: nowrap;">  Metales Y Divisas</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt1_10" onclick="$HideSuboptions(); if (! $ClickMenuOption('10')) return; $GoMenuAction(true, 'opt1', '10');">
                                    <div style="white-space: nowrap;">  Cobranza sin Recibo</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt1_11" onclick="$HideSuboptions(); if (! $ClickMenuOption('11')) return; $GoMenuAction(true, 'opt1', '11');">
                                    <div style="white-space: nowrap;">  Cobranza con Recibo</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt1_12" onclick="$HideSuboptions(); if (! $ClickMenuOption('12')) return; $GoMenuAction(true, 'opt1', '12');">
                                    <div style="white-space: nowrap;">  Cobranza Referenciada</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt1_72" onclick="$HideSuboptions(); if (! $ClickMenuOption('72')) return; $GoMenuAction(true, 'opt1', '72');">
                                    <div style="white-space: nowrap;">  Documentos Recibidos SBC</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt1_13" onclick="$HideSuboptions(); if (! $ClickMenuOption('13')) return; $GoMenuAction(true, 'opt1', '13');">
                                    <div style="white-space: nowrap;">  Operaciones</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt1_14" onclick="$HideSuboptions(); if (! $ClickMenuOption('14')) return; $GoMenuAction(true, 'opt1', '14');">
                                    <div style="white-space: nowrap;">  Boletines</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt1_80" onclick="$HideSuboptions(); if (! $ClickMenuOption('80')) return; $GoMenuAction(true, 'opt1', '80');">
                                    <div style="white-space: nowrap;">  Movimientos Tarjeta Debito</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt1_88" onclick="$HideSuboptions(); if (! $ClickMenuOption('88')) return; $GoMenuAction(true, 'opt1', '88');">
                                    <div style="white-space: nowrap;">  Movimientos en Disputa</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt1_89" onclick="$HideSuboptions(); if (! $ClickMenuOption('89')) return; $GoMenuAction(true, 'opt1', '89');">
                                    <div style="white-space: nowrap;">  Depósitos en Efectivo</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt1_105" onclick="$HideSuboptions(); if (! $ClickMenuOption('105')) return; $GoMenuAction(true, 'opt1', '105');">
                                    <div style="white-space: nowrap;">  Operaciones en Verificación</div>
                                  </a>
                                </li>
                          </ul>
                    </li>
                    <li id="li_lstopt2" class="">
                      <a href="javascript:void(0);" id="opt2" class="NOLINK has-submenu" onclick="$ShowSuboptions(false, 'lstopt2'); $GoMenuAction(false, 'opt2', '0');" onmouseover="$CancelPreHideSuboptions('lstopt2');" onmouseout="$PreHideSuboptions('lstopt2');">
                          PAGOS
                      </a>
                          <ul id="lstopt2" class="sm SU" style="z-index:80000;" onmouseover="$CancelPreHideSuboptions('lstopt2');" onmouseout="$PreHideSuboptions('lstopt2');">
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt2_15" onclick="$HideSuboptions(); if (! $ClickMenuOption('15')) return; $GoMenuAction(true, 'opt2', '15');">
                                    <div style="white-space: nowrap;">  Traspasos Mismo Banco</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt2_17" onclick="$HideSuboptions(); if (! $ClickMenuOption('17')) return; $GoMenuAction(true, 'opt2', '17');">
                                    <div style="white-space: nowrap;">  Traspasos Otros Bancos</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt2_18" onclick="$HideSuboptions(); if (! $ClickMenuOption('18')) return; $GoMenuAction(true, 'opt2', '18');">
                                    <div style="white-space: nowrap;">  Traspasos Internacional</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt2_19" onclick="$HideSuboptions(); if (! $ClickMenuOption('19')) return; $GoMenuAction(true, 'opt2', '19');">
                                    <div style="white-space: nowrap;">  Pago De Facturas</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt2_21" onclick="$HideSuboptions(); if (! $ClickMenuOption('21')) return; $GoMenuAction(true, 'opt2', '21');">
                                    <div style="white-space: nowrap;">  Pago De Servicios</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt2_65" onclick="$HideSuboptions(); if (! $ClickMenuOption('65')) return; $GoMenuAction(true, 'opt2', '65');">
                                    <div style="white-space: nowrap;">  Domiciliación</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt2_66" onclick="$HideSuboptions(); if (! $ClickMenuOption('66')) return; $GoMenuAction(true, 'opt2', '66');">
                                    <div style="white-space: nowrap;">  Contribuciones FEDERALES</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt2_69" onclick="$HideSuboptions(); if (! $ClickMenuOption('69')) return; $GoMenuAction(true, 'opt2', '69');">
                                    <div style="white-space: nowrap;">  Pagos en Línea PEMEX</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt2_70" onclick="$HideSuboptions(); if (! $ClickMenuOption('70')) return; $GoMenuAction(true, 'opt2', '70');">
                                    <div style="white-space: nowrap;">  Pago de Cuotas IMSS</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt2_73" onclick="$HideSuboptions(); if (! $ClickMenuOption('73')) return; $GoMenuAction(true, 'opt2', '73');">
                                    <div style="white-space: nowrap;">  Recaudación SAR-ISSSTE</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt2_106" onclick="$HideSuboptions(); if (! $ClickMenuOption('106')) return; $GoMenuAction(true, 'opt2', '106');">
                                    <div style="white-space: nowrap;">  Solicitud de Tarjetas de Débito</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt2_150" onclick="$HideSuboptions(); if (! $ClickMenuOption('150')) return; $GoMenuAction(true, 'opt2', '150');">
                                    <div style="white-space: nowrap;">  SIPARE/IMSS-INFONAVIT</div>
                                  </a>
                                </li>
                          </ul>
                    </li>
                    <li id="li_lstopt3" class="">
                      <a href="javascript:void(0);" id="opt3" class="NOLINK has-submenu" onclick="$ShowSuboptions(false, 'lstopt3'); $GoMenuAction(false, 'opt3', '0');" onmouseover="$CancelPreHideSuboptions('lstopt3');" onmouseout="$PreHideSuboptions('lstopt3');">
                          CHEQUES
                      </a>
                          <ul id="lstopt3" class="sm SU" style="z-index:80000;" onmouseover="$CancelPreHideSuboptions('lstopt3');" onmouseout="$PreHideSuboptions('lstopt3');">
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt3_23" onclick="$HideSuboptions(); if (! $ClickMenuOption('23')) return; $GoMenuAction(true, 'opt3', '23');">
                                    <div style="white-space: nowrap;">  Solicitud Chequeras</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt3_25" onclick="$HideSuboptions(); if (! $ClickMenuOption('25')) return; $GoMenuAction(true, 'opt3', '25');">
                                    <div style="white-space: nowrap;">  Suspensión Cheques</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt3_26" onclick="$HideSuboptions(); if (! $ClickMenuOption('26')) return; $GoMenuAction(true, 'opt3', '26');">
                                    <div style="white-space: nowrap;">  Conciliación Cheques</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt3_27" onclick="$HideSuboptions(); if (! $ClickMenuOption('27')) return; $GoMenuAction(true, 'opt3', '27');">
                                    <div style="white-space: nowrap;">  Protección Cuentas</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt3_28" onclick="$HideSuboptions(); if (! $ClickMenuOption('28')) return; $GoMenuAction(true, 'opt3', '28');">
                                    <div style="white-space: nowrap;">  Protección Cheques</div>
                                  </a>
                                </li>
                          </ul>
                    </li>
                    <li id="li_lstopt4" class="">
                      <a href="javascript:void(0);" id="opt4" class="NOLINK has-submenu" onclick="$ShowSuboptions(false, 'lstopt4'); $GoMenuAction(false, 'opt4', '0');" onmouseover="$CancelPreHideSuboptions('lstopt4');" onmouseout="$PreHideSuboptions('lstopt4');">
                          INVERSIONES
                      </a>
                          <ul id="lstopt4" class="sm SU" style="z-index:80000;" onmouseover="$CancelPreHideSuboptions('lstopt4');" onmouseout="$PreHideSuboptions('lstopt4');">
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt4_29" onclick="$HideSuboptions(); if (! $ClickMenuOption('29')) return; $GoMenuAction(true, 'opt4', '29');">
                                    <div style="white-space: nowrap;">  Fondos De Inversión</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt4_30" onclick="$HideSuboptions(); if (! $ClickMenuOption('30')) return; $GoMenuAction(true, 'opt4', '30');">
                                    <div style="white-space: nowrap;">  Cuenta Eje</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt4_31" onclick="$HideSuboptions(); if (! $ClickMenuOption('31')) return; $GoMenuAction(true, 'opt4', '31');">
                                    <div style="white-space: nowrap;">  Tradicionales</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt4_32" onclick="$HideSuboptions(); if (! $ClickMenuOption('32')) return; $GoMenuAction(true, 'opt4', '32');">
                                    <div style="white-space: nowrap;">  Cambios al Vencimiento</div>
                                  </a>
                                </li>
                          </ul>
                    </li>
                    <li id="li_lstopt5" class="">
                      <a href="javascript:void(0);" id="opt5" class="NOLINK has-submenu" onclick="$ShowSuboptions(false, 'lstopt5'); $GoMenuAction(false, 'opt5', '0');" onmouseover="$CancelPreHideSuboptions('lstopt5');" onmouseout="$PreHideSuboptions('lstopt5');">

                      </a>
                          <ul id="lstopt5" class="sm SU" style="z-index:80000;" onmouseover="$CancelPreHideSuboptions('lstopt5');" onmouseout="$PreHideSuboptions('lstopt5');">
                          </ul>
                    </li>
                    <li id="li_lstopt6" class="">
                      <a href="javascript:void(0);" id="opt6" class="NOLINK has-submenu" onclick="$ShowSuboptions(false, 'lstopt6'); $GoMenuAction(false, 'opt6', '0');" onmouseover="$CancelPreHideSuboptions('lstopt6');" onmouseout="$PreHideSuboptions('lstopt6');">
                          TESORERIA
                      </a>
                          <ul id="lstopt6" class="sm SU" style="z-index:80000;" onmouseover="$CancelPreHideSuboptions('lstopt6');" onmouseout="$PreHideSuboptions('lstopt6');">
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt6_82" onclick="$HideSuboptions(); if (! $ClickMenuOption('82')) return; $GoMenuAction(true, 'opt6', '82');">
                                    <div style="white-space: nowrap;">  Consulta de Saldos</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt6_83" onclick="$HideSuboptions(); if (! $ClickMenuOption('83')) return; $GoMenuAction(true, 'opt6', '83');">
                                    <div style="white-space: nowrap;">  Mantenimiento a Limites</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt6_84" onclick="$HideSuboptions(); if (! $ClickMenuOption('84')) return; $GoMenuAction(true, 'opt6', '84');">
                                    <div style="white-space: nowrap;">  Consulta de Limites</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt6_85" onclick="$HideSuboptions(); if (! $ClickMenuOption('85')) return; $GoMenuAction(true, 'opt6', '85');">
                                    <div style="white-space: nowrap;">  Admon. e-Tesorero</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt6_86" onclick="$HideSuboptions(); if (! $ClickMenuOption('86')) return; $GoMenuAction(true, 'opt6', '86');">
                                    <div style="white-space: nowrap;">  Consulta e-Tesorero</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt6_87" onclick="$HideSuboptions(); if (! $ClickMenuOption('87')) return; $GoMenuAction(true, 'opt6', '87');">
                                    <div style="white-space: nowrap;">  Manto. Flujos Finales</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt6_97" onclick="$HideSuboptions(); if (! $ClickMenuOption('97')) return; $GoMenuAction(true, 'opt6', '97');">
                                    <div style="white-space: nowrap;">  Consulta Flujos Finales</div>
                                  </a>
                                </li>
                          </ul>
                    </li>
                    <li id="li_lstopt7" class="">
                      <a href="javascript:void(0);" id="opt7" class="NOLINK has-submenu" onclick="$ShowSuboptions(false, 'lstopt7'); $GoMenuAction(false, 'opt7', '0');" onmouseover="$CancelPreHideSuboptions('lstopt7');" onmouseout="$PreHideSuboptions('lstopt7');">
                          ADMINISTRACIÓN
                      </a>
                          <ul id="lstopt7" class="sm SU" style="z-index:80000;" onmouseover="$CancelPreHideSuboptions('lstopt7');" onmouseout="$PreHideSuboptions('lstopt7');">
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt7_33" onclick="$HideSuboptions(); if (! $ClickMenuOption('33')) return; $GoMenuAction(true, 'opt7', '33');">
                                    <div style="white-space: nowrap;">  Preferencias Cliente</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt7_34" onclick="$HideSuboptions(); if (! $ClickMenuOption('34')) return; $GoMenuAction(true, 'opt7', '34');">
                                    <div style="white-space: nowrap;">  Preferencias Usuario</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt7_35" onclick="$HideSuboptions(); if (! $ClickMenuOption('35')) return; $GoMenuAction(true, 'opt7', '35');">
                                    <div style="white-space: nowrap;">  Mantenimiento. Cuentas</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt7_36" onclick="$HideSuboptions(); if (! $ClickMenuOption('36')) return; $GoMenuAction(true, 'opt7', '36');">
                                    <div style="white-space: nowrap;">  Grupos</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt7_37" onclick="$HideSuboptions(); if (! $ClickMenuOption('37')) return; $GoMenuAction(true, 'opt7', '37');">
                                    <div style="white-space: nowrap;">  Roles</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt7_38" onclick="$HideSuboptions(); if (! $ClickMenuOption('38')) return; $GoMenuAction(true, 'opt7', '38');">
                                    <div style="white-space: nowrap;">  Usuarios</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt7_67" onclick="$HideSuboptions(); if (! $ClickMenuOption('67')) return; $GoMenuAction(true, 'opt7', '67');">
                                    <div style="white-space: nowrap;">  Estados de Cuenta</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt7_79" onclick="$HideSuboptions(); if (! $ClickMenuOption('79')) return; $GoMenuAction(true, 'opt7', '79');">
                                    <div style="white-space: nowrap;">  Limites Tarjeta Debito</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt7_90" onclick="$HideSuboptions(); if (! $ClickMenuOption('90')) return; $GoMenuAction(true, 'opt7', '90');">
                                    <div style="white-space: nowrap;">  Depósitos en Efectivo</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt7_91" onclick="$HideSuboptions(); if (! $ClickMenuOption('91')) return; $GoMenuAction(true, 'opt7', '91');">
                                    <div style="white-space: nowrap;">  Mantenimiento e-Llave</div>
                                  </a>
                                </li>
                                <li style="width:100%;">
                                  <a href="javascript:void(0);" id="opt7_100" onclick="$HideSuboptions(); if (! $ClickMenuOption('100')) return; $GoMenuAction(true, 'opt7', '100');">
                                    <div style="white-space: nowrap;">  Asignacion Cuentas - Usuarios</div>
                                  </a>
                                </li>
                          </ul>
                    </li>
                    <li id="li_lstopt8" class="">
                      <a href="javascript:void(0);" id="opt8" class="NOLINK has-submenu" onclick="$ShowSuboptions(true, 'lstopt8'); $GoMenuAction(true, 'opt8', '0');" onmouseover="$CancelPreHideSuboptions('lstopt8');" onmouseout="$PreHideSuboptions('lstopt8');">
                          TRANSFERENCIA DE ARCHIVOS
                      </a>
                    </li>
              </ul>
            </div>
          </div><input id="menu:btnGoMenu" name="menu:btnGoMenu" style="display:none;" type="submit"><input id="menu:idCurrOption" name="menu:idCurrOption" value="opt1" type="hidden"><input id="menu:idCurrSuboption" name="menu:idCurrSuboption" value="14" type="hidden"><input name="javax.faces.ViewState" id="javax.faces.ViewState" value="-8486743346150308900:-683194659107992535" autocomplete="off" type="hidden">
</form></nobr></span>
    </div></div><!--pageTabs-->

<div id="pageInfo" class="pageTabs">


  <div class="secondHead">
    <div class="location">
      <span id="lblTitle">Boletines</span><br>
      Inicio
      <font id="lblFlowInfo">&gt; Consultas &gt; <strong>Boletines</strong></font>
    </div>

    <div class="userData">Cliente: 326451960 OPERADORA COMISIONISTA CARNEGIE SA DE CV &nbsp;&nbsp;&nbsp;&nbsp;Usuario: 001 JORGE EDUARDO BAUTISTA HERNANDEZ
      <br>
      <div style="position:relative; z-index:-1;" id="capa_reloj">Jueves, 15 de febrero, 2018 17:02 &nbsp;&nbsp;&nbsp;&nbsp;Fecha última sesion:2018/02/15 16:57:32</div>
    </div>
  </div><script language="javascript" type="text/javascript">inCloc("","Fecha última sesion:2018/02/15 16:57:32")</script>

</div><!--pageInfo-->
</div><!--pageBody-->
</div><!--mainTable-->
</div><!--wrapper-->

    </td>
    </tr>
    <tr>
    <td>
      <div style="height:594px;">
        <iframe id="frmBody" name="frmBody" src="/invernet2000/pages/app/cons/boletines.jsf" style="border:0px; width:100%; height:100%; scroll:auto;" frameborder="0"></iframe>
      </div>

    </td>
    </tr>
    <tr>
    <td>

    <div id="wrapper">
      <div id="mainTable">
<div id="pageFooter" class="pageFooter">
      <iframe id="_iFrmPrint" src="/invernet2000/pages/app/gral/common/print.jsf" style="width:0px; height:0px; display:none;"></iframe>
      <input style="border: none;" id="boxTimeSession" size="10" value="59" type="hidden"></div><!--pageFooter-->

      </div>
    </div>

    </td>
    </tr>
    </tbody></table><span id="messages" class="message"></span><script language="javascript" type="text/javascript">
setMessagesObj('messages', 'before', null);
</script>

      <meta http-equiv="Cache-Control" content="no-cache,no-store,max-age=0">
      <meta http-equiv="EXPIRES" content="NOW">
      <meta http-equiv="PRAGMA" content="NO-CACHE">

</body></html>
