
<html><head><script language="JavaScript">
<!--
document.cookie = "IV_JCT=%2Fmexiconet; path=/";
//-->
</script>

<script type="text/JavaScript">
  if(history.forward(1))
  {
    location.replace(history.forward(1));
  }
</script>








<script language="JavaScript1.2">
<!--
function cambia_action(){

	document.forms[0].action = "OperacionCBTFServlet?proceso=posicion_global_pr&operacion=posicion_global_op&accion=menuPosicion";

	document.forms[0].target = "_self";
	document.forms[0].submit();
}

function masInformacion() {
	document.forms[0].action = "OperacionCBTFServlet?proceso=posicion_global_pr&operacion=movimientos_cuentas_op&accion=masDatos";
	document.forms[0].target = "_self";
	document.forms[0].submit();
}


//-->
</script><link rel="STYLESHEET" type="text/css" href="config/estilos/estilo_pymes.css"></head>





<body class="pag-contenido" topmargin="0">

<form action="OperacionCBTFServlet?proceso=posicion_global_pr&amp;operacion=movimientos_cuentas_op&amp;accion=imprimir" method="post" target="_blank">
      <input name="NumCuenta" value="00743454000110839205" type="Hidden">
<input name="SaldoDisponible" value="91,684.81" type="Hidden">
<input name="Periodo2" value="03" type="Hidden">
<input name="Tipo2" value="CH" type="Hidden">
	<table class="titular" border="1">
		<tbody><tr>
			<td class="fondotitulo">
				<p class="titulo">Cuenta con / sin chequera - Día actual</p>
			</td>
		</tr>
		<tr>
			<td><br></td>
		</tr>
		<tr>
			<td class="fondotitular">
				<p class="nombrecliente">OPERADORA COMISIONISTA CARNEGIE SA DE CV</p>
			</td>
		</tr>
		<tr>
			<td class="fondofecha">
				<p class="fecha">08/02/2018</p>
			</td>
		</tr>
	</tbody></table><br>

	<table class="general" border="1">
		<tbody><tr class="bordes">
			<td class="bordesright">
				<p class="campo3">Número de cuenta</p>
			</td>
			<td class="fila">
				<p class="dato3">
					0110839205
				</p>
			</td>
		</tr>
		<tr class="bordes">
			<td class="bordesright">
				<p class="campo3">Saldo disponible</p>
			</td>
			<td class="fila">
				<p class="importecomprobante">91,684.81</p>
			</td>
		</tr>
	</tbody></table>

	<br><table class="general" border="1">
		<tbody><tr>

			<td colspan="4">
			</td>
		</tr>
		<tr class="bordes">
			<td class="titulocolumna2">
				<p class="campo3">Concepto / Referencia</p>
			</td>
			<td class="titulocolumna2">
				<p class="campo3">Cargo</p>
			</td>
			<td class="titulocolumna2">
				<p class="campo3">Abono</p>
			</td>

			<td class="titulocolumna2">
				<p class="campo3">Saldo</p>
			</td>
		</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E9BB2A<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">3,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">91,684.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>839205                E541 FOLIO:9721
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">88,684.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019D3C5              D189 FOLIO:7654
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">83,684.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E8CB30<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">500.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">78,684.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E8E938<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">500.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">78,184.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E61CC5              D176 FOLIO:7003
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">795.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">77,684.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E802A8<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">100.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">76,889.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019DA0D              2957 FOLIO:5334
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">2,100.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">76,789.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/00000001019D2D0<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">695.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">74,689.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E8EE94              E777 FOLIO:0355
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">695.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">73,994.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E5D9F2<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">73,299.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>FEB08 15:38 PRAC      D905 FOLIO:2520
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">800.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">68,299.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>FEB08 15:35 PRAC      D326 FOLIO:6882
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">400.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">67,499.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E5E73A<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">1,670.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">67,099.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/00000001019CE76<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">965.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">65,429.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E889CF<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">695.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">64,464.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E88FB6              4522 FOLIO:8595
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">1,300.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">63,769.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019DD7D              7367 FOLIO:6950
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">100.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">62,469.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019DCAD              E761 FOLIO:6473
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">108.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">62,369.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,794.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">62,261.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E47142<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">108.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">56,467.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/00000001019D539<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">525.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">56,359.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/0000000039E5B8D<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">795.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">55,834.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>000                   E121 FOLIO:0412
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">211.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">55,039.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>FEB08 15:11 PRAC      D611 FOLIO:5965
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">600.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">54,828.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>FEB08 15:10 PRAC      D569 FOLIO:0775
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">100.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">54,228.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E7BA9E              6553 FOLIO:6314
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">795.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">54,128.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E80F31              D097 FOLIO:8602
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">200.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">53,333.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E7F752              E597 FOLIO:9817
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">965.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">53,133.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>FEB08 14:58 PRAC      7055 FOLIO:5358
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">500.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">52,168.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E7D066              3966 FOLIO:5767
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">795.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">51,668.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>FEB08 14:41 PRAC      4973 FOLIO:2628
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">830.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">50,873.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E5797E              D494 FOLIO:3578
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">330.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">50,043.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E40C95              E213 FOLIO:8508
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">510.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">49,713.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/00000001019DF1B<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">300.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">49,203.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E3ACF5<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">48,903.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E6B4D9<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">200.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">43,903.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E3B159              4435 FOLIO:1015
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">211.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">43,703.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E72988              0242 FOLIO:3825
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">1,800.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">43,492.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E555CA<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">41,692.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>FEB08 14:19 PRAC      D524 FOLIO:7815
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">1,100.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">36,692.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>FEB08 14:16 PRAC      E668 FOLIO:4306
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">1,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">35,592.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>FEB08 14:15 PRAC      D524 FOLIO:7812
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">1,100.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">34,592.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019E00D              D535 FOLIO:9318
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">795.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">33,492.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						TRASPASO ENTRE CUENTAS/00000001019E061<br>DE LA CUENTA 2995588227
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">1,300.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">32,697.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E6E36E<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">1,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">31,397.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>FEB08 13:55 PRAC      E026 FOLIO:0381
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">3,500.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">30,397.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E5ADDF<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">26,897.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E6D2CC<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">100.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">21,897.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">21,797.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">16,797.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/00000001019DB01<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">108.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">11,797.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E4B3D5              E216 FOLIO:1267
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">11,689.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/00000001019DFAA<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">500.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">6,689.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E61818              3461 FOLIO:9343
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">3,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">6,189.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019D8C3              6729 FOLIO:6280
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">220.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">3,189.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						SPEI ENVIADO CIBANCO/0002356034  143<br>0000001BANCOMER EMPRESA CARNEGI
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">
							230,000.00
						</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">2,969.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E4D59B<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">232,969.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E5BFC1              6464 FOLIO:6452
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">227,969.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E52C8E              D959 FOLIO:3543
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">2,300.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">222,969.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E57A88              E455 FOLIO:2948
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">200.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">220,669.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/00000001019D731<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">220,469.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/00000001019DABE<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">215,469.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E4C52A<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">1,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">210,469.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019DF8B              D537 FOLIO:1080
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">100.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">209,469.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019E1B2              D478 FOLIO:3984
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">209,369.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">525.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">204,369.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/00000001019E142<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">203,844.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E4B0E9<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">1,330.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">198,844.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E3BF8E<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">4,200.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">197,514.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019D83F              7828 FOLIO:9453
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">200.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">193,314.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">1,560.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">193,114.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019DD8E              8756 FOLIO:5115
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">191,554.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>SETECIENTOS           D594 FOLIO:0330
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">700.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">186,554.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E3A271              E187 FOLIO:0986
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">350.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">185,854.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019E167              D727 FOLIO:7847
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">3,600.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">185,504.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019DCC7              4642 FOLIO:1390
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">100.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">181,904.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019CC52              7383 FOLIO:2240
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">181,804.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019CB14              7383 FOLIO:2238
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">176,804.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>FEB08 11:02 PRAC      7091 FOLIO:2512
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">120.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">171,804.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/000000039E3EADD<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">4,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">171,684.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/00000001019D462<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">2,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">167,684.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/00000001019E086<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">400.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">165,684.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019DBC4              D371 FOLIO:9501
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">200.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">165,284.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/00000001019D45F<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">165,084.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E385A9              D979 FOLIO:8250
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">160,084.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019D9E4              7593 FOLIO:8169
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">300.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">155,084.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">150.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">154,784.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>1019DCC6              D267 FOLIO:0877
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">154,634.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/00000001019DC52<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">150.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">149,634.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">5,000.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">149,484.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						PAGO CUENTA DE TERCERO/ 0051012015<br>BMOV    1503593266 PAGO
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">400.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">144,484.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO/00000001019CE48<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">795.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">144,084.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EN EFECTIVO<br>
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">33.60</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">143,289.81</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>39E2B84C              E588 FOLIO:9916
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">1,100.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">143,256.21</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>FEB08 08:08 PRAC      E016 FOLIO:2841
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">200.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">142,156.21</p>
					</td>
				</tr>

				<tr class="bordes">
				<td class="datoconsulta">
					<p class="datoconsulta">
						DEPOSITO EFECTIVO PRACTIC/******9205<br>DEPOSITOREFERENCIADO  7086 FOLIO:3276
						<font size="-2">
						</font>
					</p>
				</td>


					<td class="datoconsulta">
						<p class="importecomprobante">&nbsp;</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">360.00</p>
					</td>

					<td class="datoconsulta">
						<p class="importecomprobante">141,956.21</p>
					</td>
				</tr>


	</tbody></table><br>
	<table class="general">

	</table><br>
<!--
	<table width="510" cellspacing="1" cellpadding="2" border="0">
		<tr>
			<td class='cabecera' width='120' valign='middle'>
				<p class='titulotabla' align='right'>null</p>
			</td>
		</tr>
	</table><br>
-->
	<table class="general">
		<tbody><tr class="renglonbotones">
			<td class="columnabotones">
				<input class="botones" value="Regresar" onclick="javascript:cambia_action()" type="button">
			</td>
			<td class="columnabotones">
				<input class="botones" value="Impresión" type="submit">
			</td>
		</tr>
	</tbody></table>
</form>



</body></html>
