<html xmlns="http://www.w3.org/1999/xhtml"><head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="Cache-Control" content="no-cache,no-store,max-age=0">
      <meta http-equiv="EXPIRES" content="NOW">
      <meta http-equiv="PRAGMA" content="NO-CACHE">

    <title>SEL - Scotia en Línea</title>
      <link href="/invernet2000/bnsres/res/css/scotiaStyles-min.css" rel="stylesheet" type="text/css">
			<link href="/invernet2000/bnsres/res/css/cal/calendar-min.css" rel="stylesheet" type="text/css"><script language="javascript" type="text/javascript">
    window.history.go(1);
    </script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/res/js/bnsInfo_es.js?version=1758153"></script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/base/resources/jsf-min.js?version=1758153"></script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/base/resources/bnsJSF-min.js?version=1758153"></script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/res/js/scotia-min.js?version=1758153"></script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/res/js/Messages_es.js?version=1758153"></script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/res/js/jquery-1.9.1.min.js?version=1758153"></script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/res/js/cal/cal_es.js?version=1758153"></script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/res/js/app/cons/qryGral-min.js?version=1758153"></script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/res/js/app/gral/search-min.js?version=1758153"></script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/res/js/dhtml-combo-min.js?version=1758153"></script>
<script language="javascript" type="text/javascript" charset="iso-8859-1" src="/invernet2000/bnsres/res/js/app/cons/consultaCEPGral-min.js?version=1758153"></script>


    <style>@variables { _contextPath: /invernet2000; _contextPathRes: /invernet2000/bnsres; }</style><script language="javascript" type="text/javascript">
_contextPath = '/invernet2000'; _contextPathRes = '/invernet2000/bnsres'; _homeCtx = '/home'; _mainCtx = '/main';</script>
<script language="javascript" type="text/javascript">
_langCode = 'es'; _browser = 'Firefox'; _browserVer = '58.0';</script>
<script language="javascript" type="text/javascript">
_showTimes = false; </script>
<script language="javascript" type="text/javascript">
      _fechaHoyYYYYMMDD = '2018/02/19';
      _fechaHoyDDMMYYYY = '19/02/2018';
      _IdCurrentFlow = '1';

      _lockMenu = true;
    </script>
<script language="javascript" type="text/javascript">
    function _onLoadPage()
    {
      initPage(true, true);
      setLanguage('es');

      document.oncontextmenu = function() { return false; };

      window.history.go(1);


      window.scrollTo(0, 0);

        parent.$SHTML('lblTitle', 'Consulta General de Saldos');

          parent.$SHTML('lblFlowInfo', '> Consultas > <strong>Saldos General</strong>');

        //window.scrollTo(0, 0);
        parent.$FlowPageLoaded('1', 'li_lstopt1');


      try
      {

			$tablasExpandibles();
			isSaldos = true;
			isMovimientos = false;
			if (true)
			{
				loadControls();
			}

      } catch(e) {}
    }
    </script>
<script language="javascript" type="text/javascript">
          $ValidateFrameMain('frmBody');
        </script>
</head><body onload="_onLoadPage();" style=""><div class="dhx_combo_list " style="width: 200px; display: none;"><div style="width: 100%; overflow: hidden;">00103802067</div><div style="width: 100%; overflow: hidden;">Todos</div></div><div class="dhx_combo_list " style="width: 90px; display: none;"><div style="width: 100%; overflow: hidden;">MXN</div><div style="width: 100%; overflow: hidden;">Todos</div></div><div class="dhx_combo_list " style="width: 110px; display: none;"><div style="width: 100%; overflow: hidden;">CDMX</div><div style="width: 100%; overflow: hidden;">Todos</div></div><div class="dhx_combo_list " style="width: 90px; display: none;"><div style="width: 100%; overflow: hidden;">CHQ</div><div style="width: 100%; overflow: hidden;">Todos</div></div>
  <table style="height:100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
  <td>
<div id="wrapper">
<div id="mainTable">
<div id="pageBody" class="pageBody">
          <font class="liteSpace">&nbsp;</font>
<div id="pageInfo" class="pageTabs">
<div id="topMsg" style="padding-left:25px; padding-bottom:10px;">
    <div id="_top_page_msg_" style="display:none;">
      <table width="97%" border="0">
        <tbody><tr>
          <td id="_top_page_msg__msg_adv" valign="middle" width="7%" align="center">
              <img id="_top_page_msg__msg_img" src="/invernet2000/bnsres/res/img/ico_exclamation.fw.gif">
          </td>
          <td id="_top_page_msg__msg_txt" valign="middle" align="left">
          </td>
        </tr>
      </tbody></table>
    </div></div><!--topMsg-->
</div><!--pageInfo-->

<div id="mainTable2">
<div id="pageBody2" class="pageBody">
        <a id="page_nav"></a>
<div id="body"><span id="saldos"></span><span id="movimientos">
<div>
<form id="frmConMovs" name="frmConMovs" method="post" action="/invernet2000/pages/app/cons/qryGralAjax.jsf" enctype="application/x-www-form-urlencoded" onsubmit="return validateAll(this)" novalidate="">
<input name="frmConMovs" value="frmConMovs" type="hidden">
<input id="frmConMovs:com.bns.ejsf.nonceTokenID" name="com.bns.ejsf.nonceTokenID" value="YxiMTh" type="hidden"><input id="btnSrchCS1" name="btnSrchCS1" style="display:none;" onclick="$SubmitFormAjax(this);" type="button"><script language="javascript" type="text/javascript">
//<![CDATA[


addRefreshSource('btnSrchCS1', 'btnSrchCS1', undefined, undefined);
//]]>
</script>


							<div class="filtroCuentas" style="height: 20px;"><span id="buscarTablaMovs" combo="true"><nobr>
      <div id="divSrchTab_buscarTablaMovs" style="display:none; padding-top:4px; padding-bottom:4px;"><label id="buscarTablaMovs:_txtSrch_L" for="buscarTablaMovs:_txtSrch">
Texto a Buscar</label> <input id="buscarTablaMovs:_txtSrch" name="buscarTablaMovs:_txtSrch" size="10" tabindex="70" type="text">
        &nbsp; &nbsp; &nbsp;
        <label id="buscarTablaMovs:_selSrch_L" for="buscarTablaMovs:_selSrch">
Buscar en</label> <select id="buscarTablaMovs:_selSrch" name="buscarTablaMovs:_selSrch" tabindex="71" values=""><option value="0">Número</option><option value="1">Fecha</option><option value="2">Referencia Numérica</option><option value="3">Importe</option><option value="4">Tipo</option><option value="5">Transacción</option><option value="6">Saldo</option><option value="7">Leyenda 1</option><option value="8">Leyenda 2</option><option value="9">Información Adicional SPEI</option></select><script language="javascript" type="text/javascript">
//<![CDATA[

try { setNewOptions('buscarTablaMovs:_selSrch', { options : [
 new OptionsData('0', 'Número')
, new OptionsData('1', 'Fecha')
, new OptionsData('2', 'Referencia Numérica')
, new OptionsData('3', 'Importe')
, new OptionsData('4', 'Tipo')
, new OptionsData('5', 'Transacción')
, new OptionsData('6', 'Saldo')
, new OptionsData('7', 'Leyenda 1')
, new OptionsData('8', 'Leyenda 2')
, new OptionsData('9', 'Información Adicional SPEI')
] }
); } catch(ex) {}
//]]>
</script>

        &nbsp; &nbsp;
        <input src="/invernet2000/bnsres/res/img/ico_next.fw.jpg" id="buscarTablaMovs:_btnSrch" name="buscarTablaMovs:_btnSrch" onkeyup="$ExecThisOnEnter(event, this);" tabindex="72" onclick="return _clickSearchTable();" type="image">
        &nbsp; &nbsp;
    	<input onclick="destroyRowSearch(); Mezzage.hideTopMessage();" value="Cancelar" class="secundary" onkeyup="$ExecThisOnEnter(event, this);" tabindex="73" type="button">
	    &nbsp; &nbsp;
	    <input onclick="$Help('930');" value="Ayuda" class="secundary" onkeyup="$ExecThisOnEnter(event, this);" tabindex="74" type="button">
	    &nbsp;
	    <br>
	    <span class="error_texto"><span id="buscarTablaMovs:_txtSrch_M"></span>
	    </span>
      </div></nobr></span>
							</div><span id="iconosMovs" combo="true"><nobr>
	        <div class="iconTools">
<div class="icon Exportar"><a id="iconosMovs:lnkIconExpo_iconosMovs" href="#." onkeyup="$ExecThisIconOnEnter(event, this);" tabindex="82" title="Exportar" onclick="_clickIconExport(); if (! $CanSubmitForm()) return; ;{var p=new Object();p['iconosMovs:lnkIconExpo_iconosMovs']='iconosMovs:lnkIconExpo_iconosMovs';submitObject(this, undefined, undefined, true, p, null);}"></a>
</div><!--iconosMovs:j_idt170-->

<div class="icon Imprimir"><a id="iconosMovs:lnkIconImpr_iconosMovs" href="#." onkeyup="$ExecThisIconOnEnter(event, this);" tabindex="81" title="Imprimir" onclick="_clickIconPrint(); if (! $CanSubmitForm()) return;;{var p=new Object();p['iconosMovs:lnkIconImpr_iconosMovs']='iconosMovs:lnkIconImpr_iconosMovs';submitObject(this, undefined, undefined, true, p, null);}"></a>
</div><!--iconosMovs:j_idt173-->

<div class="icon Buscar"><a id="iconosMovs:lnkIconBusc_iconosMovs" href="#." onkeyup="$ExecThisIconOnEnter(event, this);" tabindex="80" title="Buscar" onclick="_clickIconSearch(); if (! $CanSubmitForm()) return;;{var p=new Object();p['iconosMovs:lnkIconBusc_iconosMovs']='iconosMovs:lnkIconBusc_iconosMovs';submitObject(this, undefined, undefined, true, p, null);}"></a>
</div><!--iconosMovs:j_idt175-->

	        </div></nobr></span>
<div class="mainTable">
<div>
									<div>
										<strong>Consulta de Movimientos</strong>
										<div style="height: 5px;"></div>
											<div style="font-size: 15px;">Cuenta:
											 CHQ-MXN-001-00103802067</div>
									</div>
									<div class="separadorInterno">&nbsp;</div>
									<table width="100%" border="0">
										<tbody><tr>
											<td>
<div id="tableWrapperMovs"><table id="tabMovs" class="tablaExpandible Table">
<thead>
<tr>
<th id="tabMovs:j_idt182" type="column" class="" scope="col">
																<strong>Número</strong></th>
<th id="tabMovs:j_idt186" type="column" class="" scope="col">
																<strong>Fecha</strong></th>
<th id="tabMovs:j_idt190" type="column" class="" scope="col">
																<strong>Referencia Numérica</strong></th>
<th id="tabMovs:j_idt194" type="column" class="" scope="col">
																<div style="text-align: right;">
																	<strong>Importe</strong>
																</div></th>
<th id="tabMovs:j_idt200" type="column" class="" scope="col">
																<strong>Tipo</strong></th>
<th id="tabMovs:j_idt204" type="column" class="" scope="col">
																<strong>Transacción</strong></th>
<th id="tabMovs:j_idt208" type="column" class="" scope="col">
																<div style="text-align: right;">
																	<strong>Saldo</strong>
																</div></th>
<th id="tabMovs:j_idt214" type="column" class="" scope="col">
																<strong>Leyenda 1</strong></th>
<th id="tabMovs:j_idt218" type="column" class="" scope="col">
																<strong>Leyenda 2</strong></th>
<th id="tabMovs:j_idt222" type="column" class="" scope="col"></th>
</tr>
</thead>
<tbody>
<tr id="tabMovs:0" class="even datosPrincipales">
<td><span id="tabMovs:0:col1">1</span></td>
<td><span id="tabMovs:0:col2">2018/02/19</span></td>
<td><span id="tabMovs:0:col3">7573498883</span></td>
<td>
															<div style="text-align: right;"><span id="tabMovs:0:col4">600.00</span>
																&nbsp;
															</div></td>
<td><span id="tabMovs:0:col5">ABONO</span></td>
<td><span id="tabMovs:0:col6">DEPOSITO EN EFECTIVO</span></td>
<td>
															<div style="text-align: right;"><span id="tabMovs:0:col7">0.00</span>
																&nbsp;
															</div></td>
<td><span id="tabMovs:0:col8"> </span></td>
<td><span id="tabMovs:0:col9"> </span></td>
<td></td>
<td forcesubmit="true" style="; display:none"><input id="tabMovs:0:status_" name="tabMovs:0:status_" type="hidden"></td>
</tr><tr class="expandible" style="display: none;"><td colspan="10">undefined</td><td></td></tr><tr></tr>
<tr id="tabMovs:1" class="odd datosPrincipales">
<td><span id="tabMovs:1:col1">2</span></td>
<td><span id="tabMovs:1:col2">2018/02/19</span></td>
<td><span id="tabMovs:1:col3">4647635681</span></td>
<td>
															<div style="text-align: right;"><span id="tabMovs:1:col4">2,000.00</span>
																&nbsp;
															</div></td>
<td><span id="tabMovs:1:col5">ABONO</span></td>
<td><span id="tabMovs:1:col6">DEPOSITO EN EFECTIVO</span></td>
<td>
															<div style="text-align: right;"><span id="tabMovs:1:col7">0.00</span>
																&nbsp;
															</div></td>
<td><span id="tabMovs:1:col8"> </span></td>
<td><span id="tabMovs:1:col9"> </span></td>
<td></td>
<td forcesubmit="true" style="; display:none"><input id="tabMovs:1:status_" name="tabMovs:1:status_" type="hidden"></td>
</tr><tr class="expandible" style="display: none;"><td colspan="10">undefined</td><td></td></tr><tr></tr>
<tr id="tabMovs:2" class="even datosPrincipales">
<td><span id="tabMovs:2:col1">3</span></td>
<td><span id="tabMovs:2:col2">2018/02/19</span></td>
<td><span id="tabMovs:2:col3">1586933937</span></td>
<td>
															<div style="text-align: right;"><span id="tabMovs:2:col4">2,075.00</span>
																&nbsp;
															</div></td>
<td><span id="tabMovs:2:col5">ABONO</span></td>
<td><span id="tabMovs:2:col6">DEPOSITO EN EFECTIVO</span></td>
<td>
															<div style="text-align: right;"><span id="tabMovs:2:col7">0.00</span>
																&nbsp;
															</div></td>
<td><span id="tabMovs:2:col8"> </span></td>
<td><span id="tabMovs:2:col9"> </span></td>
<td></td>
<td forcesubmit="true" style="; display:none"><input id="tabMovs:2:status_" name="tabMovs:2:status_" type="hidden"></td>
</tr><tr class="expandible" style="display: none;"><td colspan="10">undefined</td><td></td></tr><tr></tr>
<tr id="tabMovs:3" class="odd datosPrincipales">
<td><span id="tabMovs:3:col1">4</span></td>
<td><span id="tabMovs:3:col2">2018/02/19</span></td>
<td><span id="tabMovs:3:col3">5586493230</span></td>
<td>
															<div style="text-align: right;"><span id="tabMovs:3:col4">200.00</span>
																&nbsp;
															</div></td>
<td><span id="tabMovs:3:col5">ABONO</span></td>
<td><span id="tabMovs:3:col6">DEPOSITO EN EFECTIVO</span></td>
<td>
															<div style="text-align: right;"><span id="tabMovs:3:col7">0.00</span>
																&nbsp;
															</div></td>
<td><span id="tabMovs:3:col8"> </span></td>
<td><span id="tabMovs:3:col9"> </span></td>
<td></td>
<td forcesubmit="true" style="; display:none"><input id="tabMovs:3:status_" name="tabMovs:3:status_" type="hidden"></td>
</tr><tr class="expandible" style="display: none;"><td colspan="10">undefined</td><td></td></tr><tr></tr>
</tbody>
</table>

</div><!--tableWrapperMovs-->

											</td>
										</tr>
										<tr>
											<td>
												<div class="separadorInterno">&nbsp;</div>
											</td>
										</tr>
										<tr>
											<td>
<div id="pagerWrapperMovs"><span id="pagerMovs" combo="true"><nobr>
      <div id="pagerMovs" style="display:block;">
	        <table border="0">
            <tbody><tr>
              <td style="font-size:11px; font-family:Arial, Helvetica;" valign="middle"><input src="/invernet2000/bnsres/res/img/pager-first-dis.jpg" id="pagerMovs:_pagerFirst" name="pagerMovs:_pagerFirst" tabindex="90" onclick="if ($ValidatePagerFirst(this, false, '', 'pagerMovs')) $GI('pagerMovs:firstH').click(); return false;" type="image">
                &nbsp;
                <input src="/invernet2000/bnsres/res/img/pager-prev-dis.jpg" id="pagerMovs:_pagerPrev" name="pagerMovs:_pagerPrev" tabindex="91" onclick="if ($ValidatePagerPrev(this, false, '', 'pagerMovs')) $GI('pagerMovs:prevH').click(); return false;" type="image">
                &nbsp;
                <input src="/invernet2000/bnsres/res/img/pager-next-dis.jpg" id="pagerMovs:_pagerNext" name="pagerMovs:_pagerNext" tabindex="92" onclick="if ($ValidatePagerNext(this, false, '', 'pagerMovs')) $GI('pagerMovs:nextH').click(); return false;" type="image">
                &nbsp;
                <input src="/invernet2000/bnsres/res/img/pager-last-dis.jpg" id="pagerMovs:_pagerLast" name="pagerMovs:_pagerLast" tabindex="93" onclick="if ($ValidatePagerLast(this, false, '', 'pagerMovs')) $GI('pagerMovs:lastH').click(); return false;" type="image">
                &nbsp; &nbsp;
                Ir a
                &nbsp;
                <label id="pagerMovs:goToPageNum_L" for="pagerMovs:goToPageNum">
&nbsp;</label><input id="pagerMovs:goToPageNum" name="pagerMovs:goToPageNum" value="1" maxlength="4" onblur="$FixNumeric(this);" size="3" style="font-size:11px; font-family:Arial, Helvetica;" tabindex="94" class="" type="text">
                &nbsp;
                de 1
                &nbsp;
                <input src="/invernet2000/bnsres/res/img/btnSrch.gif" id="pagerMovs:_pagerGo" name="pagerMovs:_pagerGo" onkeyup="$ExecThisOnEnter(event, this);" tabindex="95" onclick="if ($ValidatePagerGoTo(this, false, '', 'pagerMovs')) $GI('pagerMovs:goToH').click(); return false;" type="image">
                <input name="_currentPage" value="1" type="hidden">
                <input name="_countPage" value="1" type="hidden">
                <input name="_currentPageAux" value="1" type="hidden">

                <div style="display:none;"><input id="pagerMovs:firstH" name="pagerMovs:firstH" onclick="$Refresh(this);" type="button"><input id="pagerMovs:prevH" name="pagerMovs:prevH" onclick="$Refresh(this);" type="button"><input id="pagerMovs:nextH" name="pagerMovs:nextH" onclick="$Refresh(this);" type="button"><input id="pagerMovs:lastH" name="pagerMovs:lastH" onclick="$Refresh(this);" type="button"><input id="pagerMovs:goToH" name="pagerMovs:goToH" onclick="$GoToPage(this, 'pagerMovs:goToPageNum');" type="button">
                </div>
              </td>
            </tr>
          </tbody></table>
	      <span class="error_texto"><span id="pagerMovs:goToPageNum_M"></span></span>
      </div></nobr></span></div><!--pagerWrapperMovs-->
</td>
										</tr>
									</tbody></table></div><!--j_idt178-->
</div><!--j_idt177-->
<input id="idxMov" name="idxMov" type="hidden"><input id="btnConsCEP" name="btnConsCEP" partialsubmitsource="idxMov" style="display:none;" onclick="$SubmitAjax(this);" type="button"><script language="javascript" type="text/javascript">
//<![CDATA[


addRefreshSource('btnConsCEP', 'btnConsCEP', undefined, undefined);
//]]>
</script>
<input id="btnPrintMovs" name="btnPrintMovs" style="display:none;" onclick="$Refresh(this);" type="button"><input id="btnExportMovs" name="btnExportMovs" style="display:none;" onclick="$SubmitNoForm(this);" type="button">
</form></div><!--j_idt155-->
</span><span id="reporteSdos"></span><span id="reporteMovs"></span><span id="consCEP"></span>
<form id="form" name="form" method="post" action="/invernet2000/pages/app/cons/qryGralAjax.jsf" enctype="application/x-www-form-urlencoded" onsubmit="return validateAll(this)" novalidate="">
<input name="form" value="form" type="hidden">
<input id="form:com.bns.ejsf.nonceTokenID" name="com.bns.ejsf.nonceTokenID" value="YxiMTh" type="hidden"><input name="javax.faces.ViewState" id="javax.faces.ViewState" value="-8818386079122659242:6823075537423276573" autocomplete="off" type="hidden">
</form></div><!--body-->
</div><!--pageBody2-->


      <br><br>

      <br><br></div><!--mainTable2-->
</div><!--pageBody-->
</div><!--mainTable-->
</div><!--wrapper-->

    </td>
    </tr>
    <tr>
    <td>

    </td>
    </tr>
    <tr>
    <td>

    <div id="wrapper">
      <div id="mainTable">
<div id="pageFooter" class="pageFooter">



  <div style="height:30px;"></div>
  <div id="footer">
    <div class="contacto" style="width: 550px" align="center">
        <strong>Centro de Atención Telefónica</strong> 5728 1205 | 5728 1262 <strong onclick="$InfoTimes();">del interior de la República</strong> 01800 705 4000
      </div>
      <div class="legales" style="width: 200px" align="center"><a href="http://www.scotiabank.com.mx/es-mx/Acerca-de-Scotiabank/privacidad.aspx" tabindex="200" title="Términos y condiciones" target="_blank">Términos y condiciones</a> | <a href="http://www.scotiabank.com.mx/es-mx/Acerca-de-Scotiabank/seguridad.aspx" title="Seguridad" tabindex="201" target="_blank"> Seguridad</a>
      </div>
		<div class="security" style="width: 195px">
          	<span>&nbsp;</span>
	        <span><a id="lnkNorton" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=see.sbi.com.mx&amp;lang=es" target="_blank" tabindex="203"><img src="/invernet2000/bnsres/res/img/nortonLogo.jpg" alt="Norton Secured" title="Norton Secured" class="img_no_border" width="90" height="48"></a></span>
			<span><font color="#ffffff">3.0.0</font></span>
		</div>
  </div>
</div><!--pageFooter-->

      </div>
    </div>

    </td>
    </tr>
    </tbody></table><span id="messages" class="message"></span><script language="javascript" type="text/javascript">
setMessagesObj('messages', 'before', null);
</script>

      <meta http-equiv="Cache-Control" content="no-cache,no-store,max-age=0">
      <meta http-equiv="EXPIRES" content="NOW">
      <meta http-equiv="PRAGMA" content="NO-CACHE">

<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div></body></html>
